
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.one {
  width: 400px;
  position: absolute;
  top: 240px;
  left: 0px;
}

.two {
  width: 400px;
  position: absolute;
  top: 240px;
  left: 200px;
}

.three {
  width: 400px;
  position: absolute;
  top: 240px;
  right: 200px;
}

.four {
  width: 400px;
  position: absolute;
  top: 240px;
  right: 0px;
}

body {background-color: rgb(247, 230, 221);}